includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    noEnvCallsOutsideOfConfig: false
    ignoreErrors:
        -
            identifier: argument.type
            message: '#Parameter \#1 \$file of method Cloudinary\\Api\\Upload\\UploadApi::upload\(\) expects string#'
            path: src/FlysystemCloudinaryAdapter.php
